/*!
 * Start Bootstrap
 * Author, Taulant Culi.
 */

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato/lato-regular-webfont.eot');
    src: url('../fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/Lato/lato-semibold-webfont.eot');
    src: url('../fonts/Lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-semibold-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/Lato/lato-black-webfont.eot');
    src: url('../fonts/Lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/BebasNeue/bebasneue_bold-webfont.eot');
    src: url('../fonts/BebasNeue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/BebasNeue/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/BebasNeue/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
text-rendering: optimizeLegibility !important;
text-rendering: geometricPrecision !important;
font-smooth: always !important;
font-smoothing: antialiased !important;
-moz-font-smoothing: antialiased !important;
-webkit-font-smoothing: antialiased !important;
-webkit-font-smoothing: subpixel-antialiased !important;
}
body {
	padding:0px !important;
	margin:0px !important;
	text-rendering:optimizeLegibility;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	color: #000;
	font-family: 'latoregular', sans-serif;
}

hr {
	border-color: #ffc61a;
	border-width: 8px;
}

hr.light {
	border-color: #fff;
}

hr.style-two { 
	border: 0; 
	height: 2px; 
	border-color: #F9C3B6;
	background-image: linear-gradient(to right, rgba(249, 195, 182, 0), rgba(249, 195, 182, 0.75), rgba(249, 195, 182, 0)); 
}

a {
	color: #f05f40;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: 0;
}

a:hover,
a:focus { 
	color: #eb3812; 
}

a, 
a:hover, 
a:active, 
a:focus {
  text-decoration:none; 
  outline: 0; 
}


/*Overwrite CSS*/
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[readonly="readonly"] { 
	background-color: #fff !important; 
	cursor: pointer;
}

/*Hide HTML5 Spinners*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	margin: 0; 
}

input[type=number] { 
	-moz-appearance: textfield;
}

input::-moz-focus-inner { 
	border: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'latoblack', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0;
	margin: 0;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

.bg-primary {
	background-color: #f05f40;
}

.bg-dark {
	color: #fff;
	background-color: #222;
}

.text-faded {
	color: rgba(255,255,255,.7);
}

section {
	padding: 35px 0;
}

aside {
	padding: 50px 0;
}

::-moz-selection {
	text-shadow: none;
	color: #fff;
	background: #222;
}

::selection {
	text-shadow: none;
	color: #fff;
	background: #222;
}

img::selection {
	color: #fff;
	background: 0 0;
}

img::-moz-selection {
	color: #fff;
	background: 0 0;
}

body {
	webkit-tap-highlight-color: #222;
}

/*Remove Padding*/
.remove-padding{padding:0}
.remove-padding-top{padding-top:0}
.remove-padding-right {padding-right:0}
.remove-padding-bottom{padding-bottom:0} 
.remove-padding-left{padding-left:0}

/*Add padding*/
.add-padding{padding:5px}
.add-padding-top{padding-top:5px}
.add-padding-right{padding-right:5px}
.add-padding-bottom{padding-bottom:5px} 
.add-padding-left{padding-left:5px}

/*Remove Margin*/
.remove-margin{margin:0}
.remove-margin-top{margin-top:0}
.remove-margin-right{margin-right:0}
.remove-margin-bottom{margin-bottom:0} 
.remove-margin-left{margin-left:0}

/*Add Margin*/
.add-margin{margin:5px}
.add-margin-top{margin-top:5px}
.add-margin-right{margin-right:5px}
.add-margin-bottom{margin-bottom:5px} 
.add-margin-left{margin-left:5px}

/*Background cover image*/
.background_preview {display: block; width: 100%; height: 100%; overflow: hidden; background-repeat: no-repeat; background-position: center center;  background-attachment: scroll; background-origin: border-box;background-clip: border-box; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #000; }

.opacity0{zoom: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0}
.opacity10{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";filter: alpha(opacity=10);-moz-opacity: 0.1;-khtml-opacity: 0.1;opacity: 0.1;}
.opacity20{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);-moz-opacity: 0.2;-khtml-opacity: 0.2;opacity: 0.2;}
.opacity30{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.opacity40{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter: alpha(opacity=40);-moz-opacity: 0.4;-khtml-opacity: 0.4;opacity: 0.4;}
.opacity50{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.opacity60{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.opacity70{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.opacity80{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.opacity90{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);-moz-opacity: 0.9;-khtml-opacity: 0.9;opacity: 0.9;}
.opacity100{zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;  opacity: 1;  }

/*shadow*/
.drop-shadow-bottom {background-color: #fff;border-color: #fff;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.25);-moz-box-shadow:    0 5px 15px rgba(0,0,0,0.25);box-shadow:         0 5px 15px rgba(0,0,0,0.25);z-index: 8;}

/*Same height Column*/
.inside-full-background-left{background-color:rgba(25,80,119,0.9)}
.inside-full-background-right{background-color:rgba(23,43,51,0.9)}
.inside-full-height{height:100%}
.row-height{display:table;table-layout:fixed;height:100%;width:100%}
.col-height{display:table-cell;float:none;height:100%}
.col-top{vertical-align:top}
.col-middle{vertical-align:middle}
.col-bottom{vertical-align:bottom}
@media (min-width: 480px) {
.row-xs-height{display:table;table-layout:fixed;height:100%;width:100%}
.col-xs-height{display:table-cell;float:none;height:100%}
.col-xs-top{vertical-align:top}
.col-xs-middle{vertical-align:middle}
.col-xs-bottom{vertical-align:bottom}
}
@media (min-width: 768px) {
.row-sm-height{display:table;table-layout:fixed;height:100%;width:100%}
.col-sm-height{display:table-cell;float:none;height:100%}
.col-sm-top{vertical-align:top}
.col-sm-middle{vertical-align:middle}
.col-sm-bottom{vertical-align:bottom}
}
@media (min-width: 992px) {
.row-md-height{display:table;table-layout:fixed;height:100%;width:100%}
.col-md-height{display:table-cell;float:none;height:100%}
.col-md-top{vertical-align:top}
.col-md-middle{vertical-align:middle}
.col-md-bottom{vertical-align:bottom}
}
@media (min-width: 1200px) {
.row-lg-height{display:table;table-layout:fixed;height:100%;width:100%}
.col-lg-height{display:table-cell;float:none;height:100%}
.col-lg-top{vertical-align:top}
.col-lg-middle{vertical-align:middle}
.col-lg-bottom{vertical-align:bottom}
}

/*Social Icons Styling*/
.twitter, .facebook, .googleplus, .linkedin, .flickr, .pinterest, .tumblr, .vimeo, .youtube, .instagram {color: #fff} 
.twitter    {background-color:#00aced; border-color:#00aced;} 
.facebook   {background-color:#3b5998; border-color:#3b5998;}
.googleplus {background-color:#dd4b39; border-color:#dd4b39;}
.linkedin   {background-color:#007fb1; border-color:#007fb1;}
.flickr     {background-color:#0063db; border-color:#0063db;}
.pinterest  {background-color:#cb2128; border-color:#cb2128;}
.tumblr     {background-color:#2c4762; border-color:#2c4762;}
.vimeo      {background-color:#1ab7ea; border-color:#1ab7ea;}
.youtube    {background-color:#ff3333; border-color:#ff3333;}
.instagram  {background-color:#517fa4; border-color:#517fa4;}


/*************************************************
01. General CSS
*************************************************/
ul {
	list-style-type: none;
	padding: 0;
}
.color1 {
	color: #ffc61a;
}
.txt1 {
	font-size: 35px;
	color: #ffc61a;
}
.txt2 {
	font-size: 44px;
    line-height: 1.25;
}
a.btn-default {
	color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 8px;
    font-family: 'bebas_neuebold';
    font-size: 30px;
    padding: 4px 30px;
    text-transform: uppercase;
}

/*************************************************
02. Navbar CSS
*************************************************/
.navbar {
	background-color: transparent;
	border: none;
	background-color: rgba(0,0,0,0.3);
	padding: 20px 0;
}
.navbar img {
	margin-top: -15px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	/*border-radius: 25px;*/
	font-family: 'latoblack';
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #000;
	background-color: #ffc61a;
}
.navbar-default .navbar-toggle {
	border-color: #ffc61a;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffc61a;
}

/*************************************************
03. Main CSS
*************************************************/
.main-section {
	background-image: url('../img/bg-img01.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	padding: 120px 0 0;
	color: #fff;
	background-color: #0f0f0f;
}
.main-section h1 {
	font-size: 36px;
	margin-bottom: 10px;
}
.main-section h2 {
	font-size: 72px;
	margin-bottom: 20px;
}
.main-section h3 {
	font-size: 20px;
	letter-spacing: 0.72em;
	text-transform: uppercase;
}
.main-section img {
	margin: 0 auto;
	transform: translateY(24%);
}

/*************************************************
04. About Us CSS
*************************************************/
.about-us {
	background-color: #ffc61a;
	padding: 150px 0 80px 0;
}
.about-us .form-box {
	float: right;
	margin-top: 5px;
	max-width: 425px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
}
.about-us .head-here{
	padding: 25px 35px;
	background-color: #171717;
}
.about-us .head-here h4 {
	font-size: 34px;
	color: #fff;
}
.about-us .body-here {
	background-color: #fff;
	padding: 25px 35px 20px;
}
.about-us .form-box .body-here button {
	color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 8px;
    font-family: 'bebas_neuebold';
    font-size: 30px;
    padding: 4px 30px;
    text-transform: uppercase;
}
/*************************************************
05. Tariffs CSS
*************************************************/
.tariffs {
	background-color: #fff;
	padding: 65px 75px;
}
.tariffs-box {
	background-color: #f5f4f2;
}
.tariffs h2 {
	margin-bottom: 135px;
}
.tariffs .txt2 {
	color: #000;
}
.tariffs .tariffs-box {
	padding: 25px 35px;
}
.tariffs .tariffs-box h4 {
	font-size: 30px;
	margin-bottom: 20px;
}
.tariffs .tariffs-box p.price {
	font-size: 44px;
	color: #ffc61a;
	font-family: 'latoblack';
	margin-top: 22px;
	margin-bottom: 22px;
}
.tariffs .tariffs-box img {
	margin: 0 auto;
	transform: translateY(-65%);
}

/*************************************************
06. Why Us CSS
*************************************************/
.why-us {
	background-image: url('../img/bg-img02.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	padding: 85px 0 75px;
	color: #fff;
	background-color: #0f0f0f;
}
.why-us h2 {
	margin-bottom: 100px;
}
.why-us .txt2 {
	color: #fff;
}
.why-us h4 {
	font-size: 25px;
	color: #ffc61a;
}

/*************************************************
07. Download App CSS
*************************************************/
.download-app {
	background-color: #fff;
	padding: 65px 0 0 0;
}
.download-app h2 {
	margin-bottom: 45px;
}
.download-app .txt2 {
	color: #000;
}
.download-app img.phone-here {
	float: right;
}

/*************************************************
08. Testimonials CSS
*************************************************/
.testimonials {
	background-image: url('../img/bg-img03.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	padding: 115px 0 85px;
	background-color: #0f0f0f;
	color: #fff;
}
.testimonials h2 {
	margin-bottom: 105px;
}
.testimonial-box {
	background-color: #040707;
	padding: 40px 60px 30px 50px;
	border-radius: 60px;
}
.testimonials .txt2 {
	color: #fff;
}


/*************************************************
08. Call Us CSS
*************************************************/
.call-us {
	background-color: #ffc61a;
	padding: 73px 0 92px;
}
.call-us span {
	font-size: 35px;
	font-family: 'latoblack';

}
.call-us h2	{
	font-size: 77px;
	margin-top: 30px;
}
/*************************************************
10. Footer CSS
*************************************************/
footer {
	background-image: url('../img/bg-img04.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	padding: 0;
	color: #fff;
	background-color: #0f0f0f;
}



.footer-top {
	padding: 76px 0 86px;
}
.footer-top h4 {
	font-size: 25px;
}
.footer-top hr {
	margin: 38px 0;
}
.footer-top p {
	margin-bottom: 35px;
}
.footer-top .social-media-list li {
	float: left;
	margin-right: 20px;
}
.footer-top .social-media-list li a {
	font-size: 22px;
	color: #ffc61a;
}
.footer-top .users-list li:first-child {
	margin-bottom: 17px;
}
.footer-top .users-list li a {
	font-size: 20px;
	color: #ffc61a;
}
.footer-top .info-list li{
	font-size: 18px;
	margin-bottom: 22px;
}
.footer-top .info-list li:last-child{
	margin-bottom: 0;
}
.footer-top .info-list li a {
	color: #fff;
}
.footer-top .info-list li a:focus,
.footer-top .info-list li a:hover {
	color: #ffc61a;
	/*text-decoration: underline;*/
}


.footer-bottom {
	padding: 24px 0;
	background-color: rgba(0,0,0,0.68);
}
.footer-bottom p.copyright {
	font-size: 14px;
	margin-bottom: 0;
	letter-spacing: 0.05em;
}



/*************************************************
11. Media Queries
*************************************************/

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { 
}